TO_DO
BENCHING
RES_C*
COMPARE_BENCH*
BENCH_NAMES*

LANGFORD.PL
SUDOKU.PL
GOLOMB.PL
CHECK.sh

alpha
bdiag
bdonald
bpigeon
bqueens
bramsey
bridge
bschur
bsend
cars
crypta
digit8
donald
eq10
eq20
five
gardner
interval
langford
magic
magsq
multipl
partit
qg5
queens
send
square
srq
