*.aux
*.toc
*.ind
*.idx
*.log
*.ilg
*.dvi
*.hind
*.haux
*.htoc
*.def
*.out
*.chw
*.fdb_latexmk
*.fls
TO_DO
LocalStuff
gprolog.html
gprolog.chm
gprolog.pdf
gprolog.ps
html_node/gprolog*.*
html_node/*.html
html_node/*_motif.gif
html_node/*_motif.svg
html_node/*.png
